* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}


html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/5.png);
  background-size: cover;
  background-position: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #00FFFF;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #00FFFF;
}

/* ----------about---------- */

#about {
  padding: 50px 0;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  margin: auto;
}

.about-col-2 {
  flex-basis: 60%;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

.about-col-3 {
  flex-basis: 35%;
}

.about-col-3 img {
  width: 100%;
  height: 105%;
  border-radius: 15px;
  margin: auto;
}

.about-col-4 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #00FFFF;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #00FFFF;
  font-size: 18px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
  line-height: 20px;
  text-align: justify
}

/* ----------learning---------- */

#learning {
  padding: 50px 0;
  color: white;
}

.learning-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.learning-col-1 {
  flex-basis: 35%;
}

.learning-col-1 img {
  width: 100%;
  border-radius: 15px;
  margin: auto;
}

.learning-col-2 {
  flex-basis: 60%;
}

.learning-row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

.learning-col-3 {
  flex-basis: 35%;
}

.learning-col-3 img {
  width: 100%;
  border-radius: 15px;
  margin: auto;
}

.learning-col-4 {
  flex-basis: 60%;
}

.learning-sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

/* ---------- skills bar ----------- */

.skills {
  position: static;
  top: 120px;
  left: 450px;
}

.skills-bar .bar {
  margin: 15px 0;
}

.skills-bar .bar .info span {
  font-size: 14px;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0f0;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #00FFFF;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 75%;
}
.progress-line .css {
  width: 60%;
}
.progress-line .bootstrap {
  width: 70%;
}
.progress-line .javascript {
  width: 30%;
}
.progress-line .c {
  width: 35%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #006f6f;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #006f6f;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "75%";
}
.progress-line .css::after {
  content: "60%";
}
.progress-line .bootstrap::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "30%";
}
.progress-line .c::after {
  content: "35%";
}

/* ----------services---------- */

/* #services {
  padding: 50px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.services-list div:hover {
	background: #00FFFF;
	transform: translateY(-10px);
}

/* ----------portfolio--------- */

#portfolio {
	padding: 50px 0;
}

.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.work {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img {
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgb(0,0,0,0.6), #005959);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: 700;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: #00FFFF;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.work:hover img {
	transform: scale(1.1);
}

.work:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #00FFFF;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	transition: background 0.5s;
}

.btn:hover {
	background: #00FFFF;
} */

/* ---------contact---------- */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #00FFFF;
  margin-right: 15px;
  font-size: 25px; 
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #00FFFF;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: none;
}

.btn.btn2:hover {
  background: #00FFFF;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 15px 60px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}

.top {
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: -80px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 90px;
}

.copyright i {
  color: #00FFFF;
}

/* ----------css for mobile--------- */

nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 1057px) { 
  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }

.learning-row, .learning-row-2{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
}


@media only screen and (max-width: 600px) {

  #header {
    background-image: url(../images/6.png) ;
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text h2 {
    font-size: 15px;
  }


  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #00FFFF;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: inline-block;
    margin: 26px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .learning-sub-title {
    font-size: 40px;
  }

  .learning-row, .learning-row-2{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .learning-col-1, .learning-col-2, .learning-col-3, .learning-col-4{
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left, .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }

  .skills-bar .bar .progress-line{
    width: 100%;
  }

  .skills-bar .bar .info span {
    font-size: 10px;
    font-weight: 500;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}